.nav-item {
  width: 100%;
  height: 37px;
  display: flex;
  gap: 13px;
  align-items: center;
  padding: 0 14px;
  border: 0;
  border-radius: 8px;
  background: transparent;
  color: #9cafa8;
  font-weight: 600;
  font-size: 11.5px;
  transition: 0.15s;
}
.nav-item svg {
  opacity: 0.85;
}
.nav-item:hover {
  background: rgba(255, 255, 255, 0.055);
  color: #fff;
}
.nav-item.active {
  background: #34453d;
  color: #f1dfc4;
}
.nav-active-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: auto;
  background: #dcba88;
}
